In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
%matplotlib inline

In [4]:
df = pd.read_csv('NY property data.csv')

In [5]:
df.replace(0, np.nan, inplace=True)
df

,RECORD,BBLE,B,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,...,BLDFRONT,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500.0,...,NaN,NaN,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27.0,...,NaN,NaN,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709.0,...,709.0,564.0,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793.0,...,85.0,551.0,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323.0,...,89.0,57.0,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070989,1070990,5080500083,5,8050,83,NaN,"TOBIN, GALE",A1,1,60.0,...,30.0,26.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR
1070990,1070991,5080500086,5,8050,86,NaN,SHERRI MILINAZZO,A1,1,62.0,...,32.0,26.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR
1070991,1070992,5080500089,5,8050,89,NaN,JOHN GERVASI,A1,1,53.0,...,24.0,32.0,NaN,NaN,NaN,NaN,1017.0,FINAL,2010/11,AC-TR
1070992,1070993,5080500092,5,8050,92,NaN,RITA M MOOG,A1,1,52.0,...,32.0,21.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR
1070993,1070994,5080500094,5,8050,94,NaN,EDWARD DONOHUE,A1,1,50.0,...,30.0,24.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR

In [6]:
df['ZIP'].fillna(method = 'ffill', inplace = True)

In [7]:
dfnew = df[['RECORD','BLDGCL','TAXCLASS','LTFRONT','LTDEPTH','FULLVAL','AVLAND','AVTOT','ZIP','BLDFRONT','BLDDEPTH']]

In [8]:
dfnew.count()

RECORD      1070994
BLDGCL      1070994
TAXCLASS    1070994
LTFRONT      901886
LTDEPTH      900866
FULLVAL     1057987
AVLAND      1057985
AVTOT       1057987
ZIP         1070994
BLDFRONT     842179
BLDDEPTH     842141
dtype: int64

In [9]:
values = ['FULLVAL','AVLAND','AVTOT','BLDFRONT','BLDDEPTH','LTFRONT','LTDEPTH']

In [10]:
for value in values:
    dfnew['count']=dfnew.groupby(['ZIP','TAXCLASS','BLDGCL'])[value].transform('count')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
for value in values:
    dfnew.loc[dfnew['count'] > 5,value]=dfnew.loc[dfnew['count'] > 5,value].fillna(dfnew.groupby(['ZIP','TAXCLASS','BLDGCL'])[value].transform('median'))

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [12]:
dfnew.count()

RECORD      1070994
BLDGCL      1070994
TAXCLASS    1070994
LTFRONT     1032740
LTDEPTH     1032399
FULLVAL     1060616
AVLAND      1060616
AVTOT       1060616
ZIP         1070994
BLDFRONT     985611
BLDDEPTH     985655
count       1070994
dtype: int64

In [13]:
for value in values:
    dfnew['count2']=dfnew.groupby(['ZIP','TAXCLASS'])[value].transform('count')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
for value in values:
    dfnew.loc[dfnew['count2'] > 5, value]=dfnew.loc[dfnew['count2'] > 5,value].fillna(dfnew.groupby(['ZIP','TAXCLASS'])[value].transform('median'))

In [15]:
dfnew.count()

RECORD      1070994
BLDGCL      1070994
TAXCLASS    1070994
LTFRONT     1066284
LTDEPTH     1066263
FULLVAL     1067091
AVLAND      1067091
AVTOT       1067091
ZIP         1070994
BLDFRONT    1037235
BLDDEPTH    1037363
count       1070994
count2      1070994
dtype: int64

In [16]:
for value in values:
    dfnew['count3']=dfnew.groupby(['ZIP'])[value].transform('count')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
for value in values:
    dfnew.loc[dfnew['count3'] > 5, value]=dfnew.loc[dfnew['count3']>5, value].fillna(dfnew.groupby(['ZIP'])[value].transform('median'))

In [18]:
dfnew.count()

RECORD      1070994
BLDGCL      1070994
TAXCLASS    1070994
LTFRONT     1070809
LTDEPTH     1070809
FULLVAL     1070991
AVLAND      1070991
AVTOT       1070991
ZIP         1070994
BLDFRONT    1070795
BLDDEPTH    1070795
count       1070994
count2      1070994
count3      1070994
dtype: int64

In [19]:
dfnew.to_csv('filledinData.csv')